<p id="notice"><%= notice %></p>

<h1>Jobapplications</h1>

<table>
  <thead>
    <tr>
      <th>Job</th>
      <th>Job title</th>
      <th>User</th>
      <th>Email</th>
      <th>Contact number</th>
      <th>Seen</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @jobapplications.each do |jobapplication| %>
      <tr>
        <td><%= jobapplication.job_id %></td>
        <td><%= jobapplication.job_title %></td>
        <td><%= jobapplication.user_id %></td>
        <td><%= jobapplication.email %></td>
        <td><%= jobapplication.contact_number %></td>
        <td><%= jobapplication.seen %></td>
        <td><%= link_to 'Show', jobapplication %></td>
        <td><%= link_to 'Edit', edit_jobapplication_path(jobapplication) %></td>
        <td><%= link_to 'Destroy', jobapplication, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Jobapplication', new_jobapplication_path %>
