




<div class="jumbotron">
  <h1 class="display-4"><%= @jobapplication.job_title %></h1>
  <p class="lead">Job ID : <%= @jobapplication.job_id %> | Applied By : <%= @jobapplication.user_id %>.</p>
  <hr class="my-4">
  <p>Contact Info ==> Email : <%= @jobapplication.email %> | Contact Number : <%= @jobapplication.contact_number %> | Viewed Application : <%= @jobapplication.seen %></p>
</div>



<%= link_to 'Edit', edit_jobapplication_path(@jobapplication), class:"btn btn-secondary" %>
<%= link_to 'Back', jobapplications_path, class:"btn btn-secondary" %>
