<p id="notice"><%= notice %></p>

<p>
  <strong>Job:</strong>
  <%= @jobapplication.job_id %>
</p>

<p>
  <strong>Job title:</strong>
  <%= @jobapplication.job_title %>
</p>

<p>
  <strong>User:</strong>
  <%= @jobapplication.user_id %>
</p>

<p>
  <strong>Email:</strong>
  <%= @jobapplication.email %>
</p>

<p>
  <strong>Contact number:</strong>
  <%= @jobapplication.contact_number %>
</p>

<p>
  <strong>Seen:</strong>
  <%= @jobapplication.seen %>
</p>

<%= link_to 'Edit', edit_jobapplication_path(@jobapplication) %> |
<%= link_to 'Back', jobapplications_path %>
